/* CSS Document */
/*公共样式*/
body{
	font-size:12px;
	color: #333;
}
.container{
	margin-left:auto;
	margin-right: auto;
	width: 1226px;
}
/*顶部代码*/
.page-top{
	height:38px;
	background-color:#323232 ;
	
}
.page-top .top-left{
	float:left;
	color: #a2a2a2;
	line-height: 37px;/*line-height等同于height，使div内部文字垂直居中*/

	
}
.page-top .top-left a{
	display: inline-block;
}
.page-top .top-left span{
	color: #3F3F3F;
	padding: 0 3px;
}
.page-top .top-left a:hover{
	color:#FFFFFF;
}
.page-top .top-left .download{
	position: relative;
}
.page-top .top-left .down-box{
	width: 124px;
	height: 0;
	background-color:#fff;
	position: absolute;
	left:50%;
    top:38px;
	margin-left: -62px;/*利用left50%加上margin-left（宽度/2），来实现绝对定位的居中*/
	box-shadow: 0 1px 5px #aaa;
    text-align: center;
    font-size: 14px;  
	z-index: 1;
	transition: height .3s;
	overflow: hidden;
}

.page-top .top-left .down-box img{
	display:block;
	margin:18px auto 0px;
	border: 0;
}
.page-top .top-left .down-box b{/*通过div画二维码的三角指示标*/
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color:transparent transparent #fff transparent;
	position: absolute;
	left: 50%;
	margin-left: -10px;
	top:-10px;
}
.page-top .top-left .down-box.active::before {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-width: 0 8px 8px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
}
.page-top .top-left a.download i{
	font-style: normal;
	color:#323232;	
}
.page-top .top-left a.download:hover i{
	color:#323232;
}
.page-top .top-right{
	float:right;
	
	
}
.page-top .top-right .login{/*未登录时*/
	color: #a2a2a2;
	line-height: 38px;
	float:right;
	margin-right: 20px;/*用浮动的方式将login和car-box置放在右侧，而且还能通过margin-right控制两者间的间隙*/
}
.page-top .top-right span{
	color: #3F3F3F;
	padding: 0 3px;
}
.page-top .top-right .login a:hover{
	color:#FFFFFF;
}

.page-top .userinfo{/*登录后*/
	float:right;
	margin-right: 20px;
}
.page-top .userinfo .link{
	line-height: 38px;
	color: #a2a2a2;
	
}
.page-top .userinfo span{
	color: #3F3F3F;
	padding: 0 3px;
}
.page-top .userinfo .link:hover{
	color:#FFFFFF;	
}
.page-top .userinfo .user{
	width: 120px;
	display: inline-block;
	position: relative;
	
}
.page-top .userinfo .user .tit{
	line-height: 38px;
	text-align: center;
	display: block;
	color: #a2a2a2;
	position: relative;
	
	
}
.page-top .userinfo .user ul{
	display: none;
	position:absolute;
	left:0;
	top:38px;
	width: 120px;
	padding:10px 0;
	box-shadow: 0 2px 10px rgb(0 0 0 / 15%);
	z-index: 1;
	background-color: #fff;
}
.page-top .userinfo .user li{
	line-height: 30px;
	text-align: center;
}
.page-top .userinfo .user li a{
	display: block;
}
.page-top .userinfo li:hover{
	background-color: #f5f5f5;
	color:#ff6700;
}
.page-top .userinfo .user:hover{
	background-color:#fff;
}
.page-top .userinfo .user:hover .tit{
	color: #ff6700;
}
.page-top .userinfo .user:hover ul{
	display: block;

}
.page-top .top-right .car-box{/*购物车*/
	float: right;
	position: relative;
	
	
}
.page-top .car-box .tit{
	width: 110px;
	background-color: #424242;
	height: 38px;
	display: block;
	text-align: center;
	line-height: 38px;
	color:#a2a2a2;
}
.page-top .car-box .tit span{
	color:#a2a2a2;
}
.page-top .car-box .pop{
	width: 316px;
	height: 0;
	position: absolute;
	top: 38px;
	right:0;
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0,0,0,.15);
	z-index: 10000;
	overflow: hidden;
    transition: height .3s;
}
.page-top .car-box .pop .nothing{
	text-align: center;
	font-size: 13px;
	padding:40px 0;
	
}
.page-top .pop .list{
	padding: 0 20px;
	margin-top:15px;
	max-height: 450px;
	overflow-y: auto;/*滚动条*/
	

}
.page-top .pop .list li{
	border-bottom:1px solid #e0e0e0;
	padding: 10px 0;
	overflow: hidden;/*清除浮动元素的影响*/
	
}
.page-top .pop .list .pic{/*一个元素设置了浮动属性后，下一个元素就会无视这个元素的存在，但是下一个元素中的文本内容依然会为这个元素让出位置使自身的文本内容环绕在设置浮动元素的周围*/
	float: left;
	
	
}
.page-top .pop .list li:last-child{/*消除li最后一条横线*/
	border:none;
}
.page-top .pop .list img{
	width: 70px;
	height: 70px;
	
}
.page-top .pop .list .txt{
	width: 120px;
	float: left;
	line-height: 70px;
	white-space: nowrap;/*强制文字不换行*/
	overflow: hidden;/*超出部分隐藏*/
	text-overflow: ellipsis;/*文字超出部分变成省略号*/
}
.page-top .pop .list .txt:hover{
	color:#ff6700;
	
}
.page-top .pop .list .num{
	float: right;
	text-align: right;
}
.page-top .pop .list .num h4{
	margin-top:12px;
	font-weight: normal;
	font-size: 12px;
	margin-bottom: 10px;
}
.page-top .pop .list .num i{
	font-style: normal;
	cursor: pointer;/*网页浏览时用户指针的样式或图形，pointer为手*/
	color: #aaa;
}
.page-top .pop .list .num i:hover{
	color: #333;
}
.page-top .pop .total{
	background-color: #fafafa;
	padding:15px 10px;
	overflow: hidden;
	
}
.page-top .pop .total .price{
	float:left;
}
.page-top .pop .total .price p{
	color: #7e7e7e;
}
.page-top .pop .total .price h3{
	font-size: 20px;
	color: #ff6700;
	font-weight: normal;
	margin-top:5px;
}
.page-top .pop .total .btn{
	width: 132px;
	height:40px;
	background-color: #ff6700;
	color:#fff;
	text-align: center;
	line-height: 40px;
	float: right;
	display: block;
}
.page-top .car-box:hover .tit{
	background-color: #fff;
	color: #ff6700;
	
}
/*导航区域样式*/
.page-nav{
	height: 96px;
	position: relative;
	
}
.page-nav .logo{
	display: block;
	width: 56px;
	height: 56px;
	margin-top: 20px;
	float: left;
	background: url("../img/logo-mi2.png") center center no-repeat;
	background-size: 56px;
	margin-right: 45px;
}

.page-nav .nav .nav-item{/*tip：扩展nav-item元素范围，光标在悬停在这个范围时都能出现pop元素*/
	margin-left: 20px;
	float: left;
	padding-top: 40px;
	margin-top:24px;
	padding:15px 4px 0;
	height: 57px;
	
}
.page-nav .nav .nav-item .tit{
	font-size: 16px;
	color: #666; 
}
.page-nav .nav .nav-item .tit:hover{
	color:#ff6700;
}
.page-nav .nav-item .pop{
	position: absolute;
	width: 100%;
	height: 230px;
	left:0;
	top: 96px;
	background-color: #fff;
	box-shadow: 0 3px 4px rgba(0,0,0,.18);
	border-top: 1px solid #e0e0e0;
	display: none;
	z-index: 10000;
}
.page-nav .down-ul{
	overflow: hidden;
}
.page-nav .down-li{
	width: 205px;
	float: left;
	padding-top: 40px;
	text-align: center;
	position: relative;
}
.page-nav .down-li .pic img{
	width:160px;
	height: 110px;
	display: block;
	margin:0 auto;
}
.page-nav .down-li .name{
	font-weight: normal;
	font-size: 13px;
	margin-top:20px;
}
.page-nav .down-li .price{
	color: #ff6700;
	margin-top: 5px;
}
.page-nav .down-li .tage{
	width: 64px;
	height: 20px;
	border: 1px solid #ff6700;
	text-align: center;
	line-height: 20px;
	position: absolute;
	left: 50%;
	margin-left: -32px;
	color: #ff6700;
	top:0;
}
.page-nav .down-li i{
	background-color: #e0e0e0;
	width: 1px;
	height: 100px;
	position: absolute;
	right: 0;
	top:36px;
}
.page-nav .down-li:last-child i{
	display: none;
}
.page-nav .nav .nav-item:hover .pop{
	display: block;
}
#page-all-nav{
	position: relative;
	visibility: visible;
}
#page-all-nav .slider-nav{
	visibility: hidden;/*公共页面隐藏整个菜单，仅显示”全部商品分类“文字选项*/
}
.page-nav .slider-nav{
	position: absolute;
	width: 235px;
	height: 430px;
	color:#fff;
	background: rgba(105,101,101);
	top:72px;
	right:-10px;
	padding: 15px 0;
	z-index: 1000;
}
.page-nav .slider-li{
	line-height: 42px;
	padding: 0 24px 0 30px;
}
.page-nav .slider-li.name{
	font-size: 13px;
}
.page-nav .slider-li.name span{
	margin-right: 5px;
}
.page-nav .slider-li i{
	float: right;
}
.page-nav .slider-li:hover {
	background-color: #ff6700;
	color: #fff;
}
.page-nav .slider-pop{
	position: absolute;
	width: 990px;
	height: 460px;
    box-shadow: 0 8px 16px rgba(0,0,0,.18);
	left:232px;
	top:0px;
	border: 1px solid #e0e0e0;
    display: none;
	z-index: 100;
	background-color: #fff;
}
.page-nav .slider-pop.comm-3 {
    width: 795px;
}

.page-nav .slider-pop.comm-2 {
    width: 530px;
}

.page-nav .slider-nav .pop-li{
	float: left;
	width: 227px;
	margin-left: 20px;
	overflow: hidden;
	height: 56px;
	margin-top:10px;
	margin-bottom: 10px;
}
.page-nav .slider-nav .pop-li p{
	color: #000;
}
.page-nav .slider-nav .pop-li:hover p{
	color: #ff6700;
}
.page-nav .slider-nav .pop-li img{
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 16px;
	padding:10px 0;
}
.page-nav .slider-nav .slider-li:hover .slider-pop{
	display: block;
}
#page-all-nav:hover slider-nav{
	display: block;
}
/*搜索框*/
.page-nav .search{
	float: right;
	position: relative;
	margin-top: 24px;
}
.page-nav .search .q{
	width: 226px;
	height: 48px;
	border: 1px solid #e0e0e0;
	outline: none;
	line-height: 48px;
	padding-left: 8px;
	float: left;
}
.page-nav .search .btn{/*搜索框的图标*/
	width: 50px;
	height: 50px;
	border: 1px solid #e0e0e0;
	border-left: none;
	float: left;
	cursor: pointer;
	background-color: #fff;
	background: url("../img/icons/搜索.png")center center no-repeat;
	background-size: 30px;	
}
.page-nav .search .btn:hover{
	background-color: #ff6700;
	background-image: url("../img/icons/搜索.png");
	border-color: #ff6700;
}
.page-nav .search .tags{
	line-height: 18px;
	padding: 0 5px;
	background-color: #eee;
	font-size: 12px;
	cursor: pointer;
	position: absolute;
	top:50%;
	margin-top: -9px;
	left: 10px;
	color: #757575;
}
.page-nav .search .tags:hover{
	background-color: #ff6700;
	color: #fff;
}
.page-nav .search:hover .q,
.page-nav .search:hover .btn{
	border-color: #b0b0b0;
}
.page-nav .search.active .hot{
	display: block;
}
.page-nav .search.active .q,
.page-nav .search.active .btn{
	border-color: #ff6700;
}
.page-nav .search .hot{
	width: 234px;
	border: 1px solid #ff6700;
	border-top: none;
	background-color: #fff;
	position: absolute;
	left: 0;
	top:50px;
	display: none;
	z-index: 1000;
}
.page-nav .search .hot li{
	line-height: 30px;
}
.page-nav .search .hot li a{
	display: block;
	padding: 0 15px;
	color: #535353;
}
.page-nav .search .hot li:hover{
	background-color: #fafafa;
}
.page-nav .search .hot li i{
	float: right;
	font-style: normal;
	color: #b0b0b0;
}
/*底部页脚*/
.page-foot .ts{
	overflow: hidden;
	margin: 30px auto;
}
.page-foot .ts li{
	width: 244px;
	border-right: 1px solid #b0b0b0;
	line-height: 25px;
	float: left;
	font-size: 16px;
	text-align: center;
	color:#616161; 
}
.page-foot .ts li i{
	font-size: 22px;
	margin-right: 5px;
	position: relative;
	top: 3px;
}
.page-foot .ts li:hover a{
	color: #ff6700;
}
.page-foot .ts li:last-child{
	border-right: none;
}
.page-foot .nav{
	border-top: 1px solid #b0b0b0;
	padding-top: 40px;
	overflow: hidden;
}
.page-foot .nav .lt{
	float: left;
	width: 974px;
	overflow: hidden;
}
.page-foot .nav .lt dl{
	width: 160px;
	float: left;
	
}
.page-foot .nav .lt dt{
	color: #424242;
	font-size: 14px;
	line-height: 40px;
}
.page-foot .nav .lt dd{
	color: #757575;
	line-height: 30px;
}
.page-foot .nav .lt dd:hover{
	color: #ff6700;
}
.page-foot .nav .gt{
	width: 248px;
	float: right;
	text-align: center;
	border-left: 1px solid #b0b0b0;
}
.page-foot .nav .gt .phone{
	color: #ff6700;
    font-size: 18px;
}
.page-foot .nav .gt .time{
	color: #616161;
    font-size: 12px;
}
.page-foot .nav .gt .atten{
	font-size: 12px;
	color: #616161;
}
.page-foot .nav .gt .atten i img{
	vertical-align: middle;
	margin-left: 10px;
}
.page-foot .nav .gt p{
	padding-bottom: 12px;
}
.page-foot .bot{
	height: 60px;
	margin-top: 30px;
	background-color: #fafafa;
}
.page-foot .logo{
	display: block;
	width: 56px;
	height: 56px;
	margin-top: 20px;
	float: left;
	background: url("../img/logo-mi2.png") center center no-repeat;
	background-size: 56px;
	margin-right: 45px;
}
.page-foot .bot .tit{
	display: inline-block;
	margin-top: 45px;
	color:#b0b0b0;
}
.page-foot .bot .a{
	float: right;
	color: #ff6700;
	font-size: 14px;
	padding-top: 45px;
}
/*侧边导航栏*/
.page-slider{
	position: fixed;
	right: 0;
	bottom: 70px;
	width: 82px;
}
.page-slider li{
	height: 92px;
	width: 82px;
	border-bottom: 1px solid #f5f5f5;
	border-left: 1px solid #f5f5f5;
	text-align: center;
	background-color: #fff;
	border-top:1px solid #fff;
	cursor: pointer;
	position: relative;
}
.page-slider li .pop{
	display: none;
}
.page-slider li i.my-icon{
	display: block;
	width: 30px;
	height: 30px;
	background-image: url("../img/侧边导航ps.png");
	background-size:180px 180px;
	margin: 24px auto 0px;
	
}
.page-slider li i.icon-app{
	background-position: 0 -60px;
}
.page-slider li i.icon-user{
	background-position: 0 0px;
}
.page-slider li i.icon-service{
	background-position: 0 -90px;
}
.page-slider li i.icon-concat{
	background-position: 0 -120px;
}
.page-slider li i.icon-car{
	background-position: 0 -150px;
}
.page-slider li i.icon-top{
	background-position: 0 -30px;
}
.page-slider li span{
	display: block;
	text-align: center;
	font-size: 14px;
	color: #757575;
	margin-top: 10px;
}
.page-slider li .pop{
	width: 130px;
	height: 188px;
	position: absolute;
	right: 100px;
	top: 0;
	background-color: #fff;border: 1px solid #f5f5f5;
	border-right: none;
}
.page-slider li .pop b{/*通过div画二维码的三角指示标*/
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-color: transparent  transparent transparent #fff;
	position: absolute;
    right: -20px;
	top: 40px;
}
.page-slider li .pop img{
	width: 95px;
	height: 95px;
	display: block;
	margin: 24px auto;
}
.page-slider li .pop p{
	text-align: center;
	width: 95px;
	margin: 0 auto;
}
.page-slider li:hover .pop{
	display: block;
}
.page-slider li.last{
	margin-top: 14px;
	visibility: hidden;
}
.page-slider li.last.active {
    visibility: visible;
}
.page-slider li:hover span{
	color: #ff6700;
}
.page-slider li:hover i.icon-app{
	background-position: -30px -60px;
}
.page-slider li:hover i.icon-user{
	background-position: -30px 0px;
}
.page-slider li:hover i.icon-service{
	background-position: -30px -90px;
}
.page-slider li:hover i.icon-concat{
	background-position: -30px -120px;
}
.page-slider li:hover i.icon-car{
	background-position: -30px -150px;
}
.page-slider li:hover i.icon-top{
	background-position: -30px -30px;
}