@font-face {
  font-family: "iconfont"; /* Project id 3341235 */
  src: url('iconfont.woff2?t=1651028067721') format('woff2'),
       url('iconfont.woff?t=1651028067721') format('woff'),
       url('iconfont.ttf?t=1651028067721') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qiehuanqiyou:before {
  content: "\e602";
  font-size: 30px;	
}

.icon-qiehuanqizuo:before {
  content: "\e601";
  font-size: 30px;
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-arrow-:before {
  content: "\e623";
}

.icon-gouwuchekong:before {
  content: "\e600";
}

